/*Title*/
h1 {
	text-align: center;
	font-size: 2em;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
}

/*Background picture*/
body {
	background-image: url(https://images.unsplash.com/photo-1451988336904-b1a6e8846746?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fd891625795592b195cd39f3d031418a);
	background-size: cover;
	background-repeat: no-repeat;
}

/*Input*/
input {
	padding: 1em;
	margin-left: 32em;
	margin-right: 32em;
	width: 252px;
	font-size: 1em;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
}

/*Dropdown*/
.info {
	padding-top: 3em;
	padding-bottom: 30em;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, .5);
	width: 75%;
}

.dropdown {
	float: left;
	padding-left: 11em;
	padding-top: 3em;
}

/*Dropdown List*/
.dropdown-content {
	display: none;
	list-style: none;
	font-size: 1em;
	padding-left: 0em;
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0em;
	line-height: 3em;
	font-family: 'Roboto', helvetica;
	font-weight: 300;
}

.dropdown-content li {
	border: 1px solid black;
	border-width: thin;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content li:hover {
	background-color: #E0E0E0;
}

/*Dropdown Button*/
button {
	padding: 16px;
	text-align: center;
	border: none;
	font-size: 1em;
	width: 200px;
	background-color: #FF5722;
	color: white;
	font-family: 'Roboto', helvetica;
	font-weight: 400;
}

button:hover {
	background-color: #FF7043;
}

/*Search Button*/

